*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    color:whitesmoke
}


body {
color:blueviolet;
width: 80%;
background-image: url("images/background.jpg");
background-size: cover;
}